@import "tailwindcss";
@plugin "daisyui" {
  themes: ["light"];
}

body {
  background: #f1f3f4;
  color: #202124;
  font-family: var(--font-geist-sans), Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
